.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 20px 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to left, #207605, #5405A7);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 22px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #207605, #5405A7 );
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgb(9, 50, 9);
}

.btn:hover {
    box-shadow: 0 10px 15px rgb(9, 50, 9);
}